<hr class="hr-1">
<div class="container-fluid div-principal bg-img">
    <div class="imagens-sobrepostas">
        <img src="assets/images/01_sinco_landingpage_layout_foto_35_anos.png" alt="sinco-35-anos" class="img-fluid" id="imagem-35-anos" >
        <div class="div-img-vermelha container">
            <img src="assets/images/01_sinco_landingpage_layout_retangulovermelho.png" alt="fundo-vermelho" class="img-fluid" id="imagem-vermelha">
            <span>Há 35 anos estamos
                aprimorando nossa
                maneira de interpretar
                e realizar os sonhos
                dos nossos clientes.</span>
        </div>
        <img src="assets/images/01_sinco_landingpage_layout_bolinhas.png" alt="" class="img-fluid">
    </div>
</div>
