/* Fontes */
@font-face {
    font-family: Helvetica;
    src: url("../../assets/fonts/Helvetica.ttc");
}

@font-face {
    font-family: HelveticaNeue-Condensed-Bold;
    src: url("../../assets/fonts/HelveticaNeue-CondensedBold.ttf");
}

@font-face {
    font-family: HelveticaNeue-Condensed-Thin;
    src: url("../../assets/fonts/HelveticaNeue-CondensedThin.ttf");
}

@font-face {
    font-family: HelveticaNeue-Condensed;
    src: url("../../assets/fonts/HelveticaNeue-Condensed.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/my-app/src/assets/fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: HelveticaNeueLTStd-Blk;
    src: url("../../assets/fonts/HelveticaNeueLTStd-Blk.otf");
}

@font-face {
    font-family: HelveticaNeueLTStd-Hv;
    src: url("../../assets/fonts/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
    font-family: HelveticaNeueLTStd-Md;
    src: url("../../assets/fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
    font-family: HelveticaNeueLTStd-Th;
    src: url("../../assets/fonts/HelveticaNeueLTStd-Th.otf");
}


.hr-1 {
    color: white;
    margin: 0;
}

.div-principal {
    padding: 4% 9%;
    margin: 0;
    background-image: url('../../assets/images/01_sinco_landingpage_layout_background.png');
    background-attachment: scroll;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100%;
    position: absolute;

} 

.div-img-sobrepostas {
    position: relative;
    height: fit-content;
    margin: 4% 0px 8% 0px;
    padding: 0;
    display: flex;
    width: 118%;
}

#imagem-35-anos {
    width: 47%;
    position: absolute;
    z-index: 1;
}

.div-img-vermelha {
    text-align: left;
    position: absolute;
    width: 47%;
    float: right;
    left: 37.8%;
    top: 40%;
    padding: 0;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    z-index: 2;
    height: fit-content;
    margin: auto;
    display: flex;
}

#imagem-vermelha {
    width: 100%;
    position: relative;
    /* left: 77.8%; */
    float: right;
}

h1 {
    color: white;
    position: absolute;
    /* font-size: 22px; */
    font-size: 3.5vw;
    text-align: left;
    font-family: HelveticaNeueLTStd-Md, Helvetica;
    line-height: 1.25;
    white-space: nowrap;
    justify-content: center;;
}

#imagem-pontinhos-1 {
    width: 18vw;
    position: relative;
    left: 21vw;
    top: -7%;
    margin-top: 40%;
    z-index: 0;
}

.div-texto-paragrafo-1 {
    margin: 0px 0 8% 0;
    margin-bottom: 8%;
    padding: 0 0 0 6px;
}

p {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica;
    line-height: 1.25;
    text-align: left;
    /* font-size: 84.374%; */
    font-size: 2.18vw;
    letter-spacing: -0.03rem;
    white-space: nowrap;
}

b {
    font-family: HelveticaNeueLTStd-Hv, Helvetica;
    font-weight: 1px;
    font-size: 2.18vw;
    white-space: nowrap;
}

.b-red {
    color: #d93a2f;
}

.div-texto-2-e-img {
    padding: 0;
    display: flex;
    margin: 4% 0 4% 0;
    width: 100%;
}

.div-texto-paragrafo-2 {
    padding: 4% 6px 0px 6px;
    margin: 0;
    float: left;
    width: fit-content;
}

.div-img-predio-1 {
    padding: 0;
    width: 50%;
    margin: 0;
}

#img-predio-1 {
    float: right;
    /* justify-content: baseline; */
    width: 135%;
    height: auto;
    position: relative;
    right: -25%;
}

.div-texto-paragrafo-3 {
    padding: 4% 0px 4% 6px;
    margin: 0;
    width: fit-content;
}

.div-texto-paragrafo-3 > p{
    letter-spacing: 0;
}

.div-titulo1-e-linha-vermelha {
    padding: 2% 0px 2% 12px;
    display: flex;
    position: relative;
    justify-content: baseline;
}

.span-linha-vermelha-vertical-1 {
    position: relative;
    width: 0.40%;
    right: 2.5%;
    top: 1%;
    padding: 0.02%;
}

#linha-vermelha-vertical-1 {
    position: relative;
}

h2 {
    font-family: HelveticaNeueLTStd-Md;
    font-size: 3.3vw;
    white-space: nowrap;
}

.div-texto-paragrafo-4 {
    padding: 0 0px 4% 12px;
    margin: 0;
    width: fit-content;
}

.div-texto-5-e-img {
    padding: 0;
    margin: 4% 0 0 0;
    height: auto;
    position: relative;
    width: 100%;
    display: flex;
}

.div-img-predio-2 {
    padding: 0;
    width: fit-content;
    /* height: fit-content; */
    margin: 0;
    position: relative;
    right: 7%;
}

#img-predio-2 {
    flex: left;
    /* justify-content: baseline; */
    width: 150%;
    height: auto;
    position: relative;
    right: 6%;
    z-index: 1;
}

.div-texto-paragrafo-5 {
    padding: 0px 0px 0px 0px;
    margin: 0;
    flex: right;
    width: 50%;
}

.div-texto-paragrafo-5 > p {
    font-size: 82.5%;
    letter-spacing: 1.25;
}

.span-linha-vermelha-horizontal-1 {
    margin: 0;
    width: 70%;
    padding: 0;
}

.div-img-bolinhas-2 {
    width: 33%;
    height: fit-content;
    padding: 0;
    position: relative;
    margin: 0;
    left: 8%;
    bottom: 19%;
    z-index: 0;
}

#imagem-pontinhos-2 {
    width: 5%;
    position: relative;
    margin-top: 40%;
    z-index: 0;
}

.div-texto-paragrafo-6 {
    padding: 2% 0px 0px 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 5%;
}

.div-texto-6-e-img {
    padding: 0 0 0 0;
    margin: 0;
    height: fit-content;
    position: relative;
    width: 100%;
    display: flex;
}

.div-texto-paragrafo-7-8-9 {
    padding: 0 0px 2% 0px;
    margin: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
    float: left;
    position: relative;
}


.div-img-predio-3 {
    padding: 0;
    width: 115%;
    height: fit-content;
    margin: 0;
    position: relative;
    right: -7.5%;
    z-index: 0;
}

#img-predio-3 {
    flex: left;
    justify-content: baseline;
    width: 112%;
    height: auto;
    position: relative;
    right: 5%;
    z-index: 1;
    padding: 0;
}

.div-titulo2-e-linha-vermelha {
    padding: 8% 0px;
    display: flex;
    position: relative;
    justify-content: baseline;
    vertical-align: baseline;
    height: fit-content;
}

.div-titulo2-e-linha-vermelha > span {
    width: 0.7%;
    top: 0%;
    left: -5%;
    padding: 0;
}

#linha-vermelha-vertical-2 {
    position: relative;
}

.div-img-bolinhas-3 {
    width: 33%;
    height: fit-content;
    padding: 0;
    position: absolute;
    top: -9%;
    left: 73%;
    margin: 0;
    overflow: hidden;
}

#imagem-pontinhos-3 {
    width: 5%;
    position: relative;
    margin-top: 40%;
    z-index: 0;
}

.div-img-bolinhas-4 {
    width: 33%;
    height: fit-content;
    padding: 0;
    position: absolute;
    left: 73%;
    top: 85%;
    margin: 0;
    overflow: hidden;
}

#imagem-pontinhos-4 {
    width: 5%;
    position: absolute;
    margin-top: 40%;
    z-index: 0;
}

