<hr class="hr-1">
<div class="container-fluid div-principal bg-img">
    <div class="container div-img-sobrepostas">
        <img src="assets/images/01_sinco_landingpage_layout_foto_35_anos.png" alt="sinco-35-anos" class="img-fluid" id="imagem-35-anos" >
        <div class="div-img-vermelha container">
            <img src="assets/images/01_sinco_landingpage_layout_retangulovermelho.png" alt="fundo-vermelho" class="img-fluid" id="imagem-vermelha">
            <h1>Há 35 anos estamos
                aprimorando nossa
                maneira de interpretar
                e realizar os sonhos
                dos nossos clientes.</h1>
        </div>
        <img src="assets/images/01_sinco_landingpage_layout_bolinhas.png" alt="quadrado-de-bolinhas" class="img-fluid" id="imagem-pontinhos-1">
    </div>
    <div class="container div-texto-paragrafo-1">
        <p>Durante nossa trajetória, construímos e incorporamos orgulhosamente mais de <br>
            <b class="bold">3,5 milhões de metros quadrados.</b> Nascemos como <b class="b-red">S</b><b>ociedade </b> <b class="b-red">In</b><b>corporadora
            e</b> <b class="b-red"> Co</b><b>nstrutora </b> – origem do nosso nome atual, Sinco – e nosso portfólio <br>
            compreende majoritariamente construções de médio e alto padrão em diversos
            segmentos: residencial, corporativo, hoteleiro, shopping, teatro, escola, indústria,
            <br>telecomunicação, entre outros. <b>São mais de 160 empreendimentos localizados
            entre São Paulo e Rio de Janeiro.</b></p>
    </div>
    <div class="container div-texto-2-e-img">
        <div class="container div-texto-paragrafo-2">
            <p>O início dessa história foi em <b>1986,</b><br>
            quando três irmãos e um amigo se<br>
            juntaram para empreender no ramo<br>
            da construção. José Luiz, Paulo,<br>
            Tadeu e Tony, sócios fundadores,<br>
            continuam até hoje trabalhando a<br>
            todo vapor para a empresa crescer<br>
            cada vez mais consistente com<br>
            seus valores e entregar soluções<br>
            inovadoras. São mais de <b>três<br>
            décadas de credibilidade e tradição</b><br>
            no mercado, construídos com muito<br>
            esforço e dedicação, pensando<br>
            desde o primeiro dia em entregar<br>
            qualidade e confiança.<br></p>
        </div>
        <div class="container div-img-predio-1">
            <img src="../../assets/images/01_sinco_landingpage_layout_foto 1986.png" alt="predio-1986" id="img-predio-1">
        </div>
    </div>
    <div class="container div-texto-paragrafo-3">
        <p>
            De obra em obra, fomos ampliando nosso time e atualmente contamos com<br>
            mais de mil profissionais altamente qualificados, que entraram para a família<br>
            garantindo <b>eficiência e diferencial em todos os nossos projetos.</b><br>
        </p>
    </div>
    <div class="container-fluid div-titulo1-e-linha-vermelha">
        <span class="span-linha-vermelha-vertical-1">
            <img src="../../assets/images/01_sinco_landingpage_layout_linha vermelha vertical.png" alt="" class="img-fluid" id="linha-vermelha-vertical-1">
        </span>
        <h2 id="h1-2">O que faz a <font style="color: #d93a2f">Sinco Engenharia</font> se destacar no<br>
            mercado e ser reconhecida como uma referência?</h2>
    </div>
</div>
10